@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #3900B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.main__logo {
    margin-bottom: 50px;
}

.main__form {
    margin-top: 100px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info__logo {
    margin-bottom: 15px;
}

.user-info__name {
    font-size: 40px;
    font-weight: 400;
    text-transform: lowercase;
}

.user-info__surname {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #3900B1;
}

.user-info__email {
    font-size: 20px;
    font-weight: 500;
    color: #A0A0A0;
}

.nav {
    border-bottom: 2px solid #3900B1;
    min-width: 620px;
    max-width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-top: 60px;
}

.nav__item {
    color: #3900B1;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

.nav__item.active {
    font-weight: 900;
}

.main__subscriptions {
    margin-top: 30px;
}

.subscriptions {
    display: flex;
    flex-direction: column;
}

.subscription-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #9C6EFE;
    border-radius: 40px;
    padding: 10px;
    margin: 5px 0;
}

.subscriptions__logo {
    min-width: 55px;
    max-width: 55px;
    min-height: 55px;
    max-height: 55px;
}

.subscriptions__name {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    margin: 0 40px;
}

.input {
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #3900B1;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3900B1;
    padding: 10px 25px;
    outline: none;
    margin: 5px 0;
    min-width: 100%;
    max-width: 100%;
}

.input::placeholder {
    color: rgb(57, 0, 177, 0.25);
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post__img {
    min-width: 100%;
    max-width: 100%;
}

.post__text {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.profile-main {
    min-height: max-content;
    max-height: max-content;
    padding: 50px 0;
}

.posts__button {
    margin: 40px;
}

.post {
    list-style-type: none;
    border: 3px solid #3900B1;
    border-radius: 20px;
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 20px 0;
}

.settings {
    margin-top: 60px;
}

.button {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button_blue {
    background-color: #3900B1;
    border: 3px solid #3900B1;
    color: #fff;
}

.button_white {
    color: #3900B1;
    border: 3px solid #3900B1;
    background-color: #fff;
}

.button_purple {
    background-color: #8320ab;
    border: 3px solid #8320ab;
    color: #fff;
    transition: 0.3s;
}

.button_purple:hover {
    color: #000;
    background-color: #fff;
}

.form__button {
    margin-top: 50px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav {
        min-width: 80%;
        max-width: 80%;
    }

    .header__logo {
        min-width: 200px;
        max-width: 200px;
    }

    .header__user {
        min-width: 50px;
        max-width: 50px;
    }

    .main__subscriptions {
        padding: 0 20px;
    }

    .subscriptions__name {
        font-size: 20px;
    }

    .subscriptions__name {
        margin: 0 20px;
    }

    .post {
        min-width: calc(100% - 100px);
        max-width: calc(100% - 100px);
    }
}

@media screen and (max-width: 600px) {
    .nav__item {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .form {
        min-width: calc(100% - 100px);
        max-width: calc(100% - 100px);
    }
}